
body{
    padding: 0px;
    margin: 0px;
    background-image: url(http://sketchpunk.com/NEditorJS/bg_grid.png);
    background-position: center;
}
.menu{
    width: auto;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.575);
    margin: 0px;
    overflow: hidden;
}
.menu a{
    background-color: rgba(0, 0, 0, 0.356);
    font: Menu;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 17px 24px;
    font-weight:100;
    float: left;
    border-radius: 50px;
    border-color: rgba(0, 47, 255, 0.123);
    border-style: solid;
    border-width: 2px;
    transition: background-color 0.5s, top 0.5s, border-width 0.5s, border-color 0.5s, margin-left 0.5s, margin-top 0.5s, color 0.5s;
}
.menu a:hover{
    border-color: rgba(0, 47, 255, 0.616);
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: rgb(71, 71, 71);
}
.selected{
    color: white;
}
.txt{
    font: Menu;
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-justify: auto;
    font-weight:100;
}
.tittle{
    -webkit-text-stroke: 1px black;
    font: Menu;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    text-justify: auto;
    font-weight:200;
}
.box{
    background: rgba(185, 185, 185, 0.89);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;    
}
.codeinput{
    background-color: rgba(0, 0, 0, 0);
    border-color: gray;
    border-style: solid;
    border-radius: 25px;
    float: right;
    border-width: 1px;
    font: caption;
    color: rgb(0, 0, 0);
    resize: none;
    margin-top: 10px;
    margin-left: 5px;
    transition: background-color 0.5s, top 0.5s, border-width 0.5s, border-color 0.5s, margin-left 0.5s, margin-top 0.5s;
}
.codeinput:hover{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 47, 255, 0.486);
    border-style: solid;
    border-width: 5px;
    margin-left: 0px;
    margin-top: 5px;
}
.codeput{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.473);
    border-color: gray;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    font: caption;
    color: rgb(0, 0, 0);
    resize: none;
    top: 20%;
    left: 90%;
    -ms-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
}
.items1{
    margin: 40px;
    display: inline-block;
    background-color: rgba(151, 151, 151, 0.308);
}
main{
    vertical-align: auto;
    width: 80%;
    height: 100vs;
    background: rgba(8, 8, 0, 0);
    padding: 6px 24px;
    text-align: left;
    color: whitve;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;    
}
.button{
    float: right;
    border: thin;
    border-color: #0004ff;
    border-style: solid;
    margin: 5px;
    padding: 10px;
    width: 150px;
    height: 40px;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font: caption;
    border-radius: 5px 50px 50px 5px;
    transition: color 0.3s, background 0.3s, width, 0.5s;
}
.button:hover{
    width: 160px;
    color: rgb(255, 255, 255);
    background: #0004ff;
}

.image{
    border-radius: 50%;
}
.image_0{
    border-radius: 10%;
}
.par1{
    -webkit-text-stroke: 0.5px black;
    font: Menu;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    text-justify: auto;
}
.frame1{
    background-color: rgba(255, 255, 255, 0.473);
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    outline: none;
    border: thin;
    border-color: gray;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    width: 80%;
    height: 50%;
}
.frame2{
    background-color: rgba(255, 255, 255, 0.473);
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    outline: none;
    border: thin;
    border-color: gray;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    width: 80%;
    height: 50%;
}
