
body{
    padding: 0px;
    margin: 0px;
    background-image: radial-gradient(rgb(0, 7, 70), rgb(39, 0, 83));
    background-position: center;
}
.header{
    background: rgba(18, 0, 31, 0.486);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: menu;
    font-size: 24px;
    font-weight:100;

}
.menu{
    position: sticky;
    top: 0px;
    background-color:rgb(0, 0, 0);
    margin: 0px;
    overflow: hidden;
}
.menu a{
    font: Menu;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 24px;
    font-weight:100;
}
.menu a:hover{
    background: rgba(56, 0, 78, 0.37);
    color: white;
}
.txt{
    -webkit-text-stroke: 1px black;
    font: Menu;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    text-justify: auto;
    font-weight:100;
}
.tittle{
    -webkit-text-stroke: 1px black;
    font: Menu;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    text-justify: auto;
    font-weight:200;
}
.box{
    background: rgba(8, 7, 0, 0.89);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;    
}
main{
    vertical-align: auto;
    width: 80%;
    height: 100vs;
    background: rgba(8, 8, 0, 0);
    padding: 6px 24px;
    text-align: left;
    color: whitve;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;    
}
.button{
    padding: 10px;
    float: left;
    margin: 1em;
    width: 137px;
    height: 60px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    background: rgba(8, 8, 0, 0.89);
    font: caption;
}

.button_s{
    padding: 10px;
    float: center;
    margin: 1em;
    width: 190px;
    height: 60px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.473);
    font: caption;
}

.button_a{
    padding: 10px;
    float: center;
    margin: 1em;
    width: 200px;
    height: 60px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
    background: rgba(8, 7, 0, 0.89);
    font: caption;
}

.image{
    border-radius: 50%;
}
.image_0{
    border-radius: 10%;
}
.par1{
    -webkit-text-stroke: 0.5px black;
    font: Menu;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    text-justify: auto;
}
.frame1{
    outline: none;
}